/* Reset some default styles */
body, h1, h2, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #007BFF;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button#investorBtn {
    background-color: #28a745;
    color: #fff;
}

button#investorBtn:hover {
    background-color: #218838;
}

button#entrepreneurBtn {
    background-color: #007BFF;
    color: #fff;
}

button#entrepreneurBtn:hover {
    background-color: #0056b3;
}
